<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js" rel="stylesheet">

  
</head>
<body>
    <header>
        <!-- <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a href="@Url.Action("Index","Home")" class="w3-bar-item w3-button w3-wide"><img src="~/images/logo.jpg" class="imglogo" style="width:317.45px; height:106.91px;"></a>

            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="About">About</a>
            </div>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial.cshtml" />
            </div>
        </div>

    </nav> -->
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom justify-content-between box-shadow mb-3">
            <div class="container-fluid">
                <!-- Brand -->
                <a class="navbar-brand" href="@Url.Action("Index","Home")" class="w3-bar-item w3-button w3-wide"><img src="~/images/logo.jpg" class="imglogo" style="width:317.45px; height:106.91px;"></a>
                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <div class="container">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <div class="container">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <div class="container">
                                <partial name="_LoginPartial.cshtml" />
                            </div>
                        </li>

                    </ul>
                </div>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        
            
       
        <br>
    </header>
    <!--style="width:317.45px; height:106.91px;"-->
                                <div class="container">
                                    <main role="main" class="m-5 pb-3 ">
                                        @RenderBody()
                                    </main>
                                </div>

                                <footer class="border-top footer text-muted">
                                    <div class="container">
                                        &copy; 2020 - Blind And Low Vision NZ M.Shaheer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </div>
                                </footer>
                                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                                <script src="~/js/site.js" asp-append-version="true"></script>
                                @RenderSection("Scripts", required: false)
</body>
</html>
